<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NWAkenNumber1.Properties.Settings.NOrthwindConnectionString"
            connectionString="Data Source=valiitsql.database.windows.net;Initial Catalog=NOrthwind;Persist Security Info=True;User ID=student;Password=Pa$$w0rd;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>